.econ{
    width: max-content;
}
.content {
    display: flex;
    flex-direction: column;
    margin: 1% 5% 1% 5%;
}
.partie{
    display: flex;
    flex-direction: column;
    text-align: justify;
}

.images {
    display: flex;
    justify-content: center; 
}

.images img {
    width: 80%; 
}

.image {
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 50%;
}
