.content {
    display: flex;
    justify-content: center;
    width: 100%;
}
h1{
    width: max-content;
}

.content_graph{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.graph{
    width:80%;
}
figure {
    display: flex;
    text-align: center;
}

span {
    font-size: 14px;
    color: grey;
    margin-top: 8px;
}
