footer {
    border-top: 1px solid black;
}

#footer-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#page-credit {
    text-align: center;
}

#map {
    height: 350px;
    width: 500px;
}

/* Social buttons */

#socials {
    display: flex;
    justify-content: space-around;
}

#socials, #socials a, #youtube-logo, #facebook-logo, #twitter-logo, #linkedin-logo, #instagram-logo, #tiktok-logo, #vk-logo {
    height: 29px;
}

#youtube-logo, #facebook-logo, #twitter-logo, #linkedin-logo {
    color: black;
}

#vk-logo:not(:hover) path:first-child {
    fill: black;
}

#tiktok-logo:not(:hover) path:not(:nth-child(4)) {
    fill: white;
}

#youtube-logo:hover {
    color: red !important;
}

#facebook-logo:hover {
    color: #0884FF !important;
}

#linkedin-logo:hover {
    color: #0A76B4 !important;
}

#instagram-logo:not(:hover) path:nth-child(4) {
    fill: black !important;
}

/* Social buttons animation */
#youtube-logo, #facebook-logo, #twitter-logo, #linkedin-logo, #instagram-logo, #tiktok-logo, #vk-logo {
    transition: transform 0.2s;
    transform-origin: center;
}

#youtube-logo:hover, #facebook-logo:hover, #twitter-logo:hover, #linkedin-logo:hover, #instagram-logo:hover, #tiktok-logo:hover, #vk-logo:hover {
    transform: scale(1.2);
}
