@import url("font.css");
@import url("navbar.css");
@import url("footer.css");
@import url("colors.css");

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

a {
  color: black;
  text-decoration: none;
}
