.container {
    width: 80%;
    margin: auto; 
}

.texte-image {
    display: flex; 
    align-items: center; 
}

.texte {
    margin-right: 20px; 
    line-height: 1.5;
}

.image1 {
    flex: 0 0 30%; 
    margin-left: 15px; 
}

.image1 img {
    width: 100%; 
    height: auto; 
}

.image {
    flex: 0 0 40%; 
    margin-left: 15px; 
}

.image img {
    width: 100%; 
    height: auto; 
}