.title-image{
    margin-bottom: 20px;
}

.container {
    width: 70%;
    margin: auto; 
    
}

.texte-image {
    display:flex; 
    align-items: center; 
}

.texte {
    margin-right: 10px; 
    line-height: 1.5;
    margin-bottom: 20px;

}

.image1 {
    flex: 0 0 30%; 
    margin-left: 15px; 
}

.image1 img {
    width: 100%; 
    height: auto; 
}

.image2, .image3 {
    flex: 0 0 40%; 
    height: auto; 
}

.images-container {
    display: flex;
    flex-direction: column; 
}

.image2 {
    flex: 0 0 40%; 
    margin-left: 15px; 
    margin-bottom: 10px;
}

.image2 img {
    width: 100%; 
    height: auto; 
}

.image3 {
    flex: 0 0 40%; 
    margin: 15px; 

}

.image3 img {
    width: 100%; 
    height: auto; 
}