/* TODO : Aligner les titres des cards */

#presentation-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.presentation-card {
    margin: 0.5vw;
    border: 1px solid lightgray;
    border-radius: 10px;
}

.presentation-card img {
    border-radius: 10px 10px 0 0;
}

.presentation-card a {
    text-decoration: underline;
}

.presentation-card-content {
    height: 25vh;
    text-align: center;
    padding: 50px;
    display: flex;
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
}