/* TODO : Aligner les titres des cards */

#presentation-cards {
  /* display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;*/
  margin-bottom: 50px;
}

.presentation-cards-line {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-bottom: 50px; */
}

.presentation-card {
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /*box-shadow: 2px 11px 5px 5px rgba(230,230,230,0.64);*/
  margin: 0.5vw;
  /*border: 1px solid lightgray;*/
  border-radius: 10px;
}

.presentation-card img {
  border-radius: 10px 10px 0 0;
}

.presentation-card a {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-decoration: underline;
}

.presentation-card a:hover {
  color: var(--primary);
}

.presentation-card-content {
  height: 25vh;
  text-align: center;
  padding: 0 50px 50px 50px;
  display: flex;
  flex-direction: column !important;
  justify-content: center;
  align-items: center;
}
