#presentation-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#presentation-cards :nth-child(2n) {
    flex-direction: row-reverse;
}

.presentation-card {
    margin: 20px;
    border: 1px solid lightgray;
    border-radius: 10px;
}

.presentation-card a {
    text-decoration: underline;
}

.presentation-card-content {
    display: flex;
    /* TODO : Fix #presentation-cards :nth-child(2n) to don't have to use !important*/
    flex-direction: column !important;
    justify-content: center;
    align-content: center;
}