/* TODO: Rename */
#content {
  display: flex;
  justify-content: center;
}

.page-sub-title {
  text-align: center;
  padding: 50px 0px;
  margin: 0;
}

.game-section {
  display: flex;
  scroll-margin-top: 14vh;
}

.game-section-separator {
  height: 100px;
  border-left: 2px solid var(--primary);
}

.game-section-separator-spot {
  height: 100px;
  border-left: 2px solid var(--red-spotlight);
}

.game-section-illustration {
  margin-left: 100px;
}

.game-section-content {
  border-left: 2px solid var(--primary);
  padding-left: 50px;
}

.game-section-content-spot {
  border-left: 2px solid var(--red-spotlight);
  padding-left: 50px;
}

.game-section-content p {
  line-height: 2.5;
}

.game-section-content-title {
  position: relative;
}

.game-section-content-title a {
  position: relative;
}

.game-timeline-dot {
  width: 20px;
  height: 20px;
  background-color: var(--primary);
  position: absolute;
  top: 36px;
  left: -61px;
  border-radius: 7px;
}

.game-timeline-dot-spot {
  width: 20px;
  height: 20px;
  background-color: var(--red-spotlight) !important;
  position: absolute;
  top: 36px;
  left: -61px;
  border-radius: 7px;
}

.game-timeline-dot-bis {
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: grey;
  /* top: 25px; */
  left: -59px;
  border-radius: 6px;
}

.game-timeline-date {
  position: absolute;
  left: -125px;
  top: 36px;
  color: var(--primary);
}

.game-timeline-date-spot {
  position: absolute;
  left: -125px;
  top: 36px;
  color: var(--red-spotlight) !important;
}

.game-timeline-date-bis {
  position: absolute;
  left: -110px;
  /* top: 36px; */
  color: grey;
  font-size: 90%;
}

.game-section-illustration span {
  font-size: 100%;
}

.image-caption {
  display: flex;
  justify-content: center;
}

.platforms {
  display: flex;
  align-items: center;
}

.platform {
  margin-right: 5px;
  font-size: 75%;
  border-radius: 20px;
  padding: 3px 6px;
}

.platform-windows {
  border: 1px solid var(--primary);
  color: var(--primary);
}

.platform-xbox {
  border: 1px solid #57b249;
  color: #57b249;
}

.platform-dreamcast {
  border: 1px solid #d03009;
  color: #d03009;
}

.platform-playstation {
  border: 1px solid #083d94;
  color: #083d94;
}

.platform-switch {
  border: 1px solid #e70819;
  color: #e70819;
}

.game-info-top {
  display: flex;
  justify-content: space-between;
}

.game-section-content-title h2 {
  margin-right: 20px;
}

/* TOOLTIP */
.tooltip {
  display: inline-block;
  position: relative;
  /* border-bottom: 1px dotted #666; */
  /* text-align: left; */
}

.tooltip .right {
  pointer-events: none;
  min-width: 220px;
  top: 50%;
  left: 100%;
  margin-left: 20px;
  transform: translate(0, -50%);
  padding: 24px 10px 10px 20px;
  color: var(--dark);
  background-color: var(--sky);
  font-weight: normal;
  font-size: 13px;
  border-radius: 8px;
  position: absolute;
  z-index: 99999999;
  box-sizing: border-box;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
  display: block;
  visibility: hidden;
  animation: slideOut 0.5s ease forwards;
  transition: visibility 0.5s; /* Délai pour la visibilité */
}

.tooltip:hover .right {
  display: block;
  visibility: visible;
  animation: slideIn 0.5s ease forwards;
}

.tooltip .right i {
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -12px;
  width: 12px;
  height: 24px;
  overflow: hidden;
}

.tooltip .right i::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  left: 0;
  top: 50%;
  transform: translate(50%, -50%) rotate(-45deg);
  background-color: var(--sky);
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
}

/* TIMELINE DOT PULSE */
.pulse:not(:hover) {
  animation: pulse-animation 1s infinite;
}

@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
  }
  100% {
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }
}

/* TOOLTIP FADE */
@keyframes slideIn {
  from {
    transform: translate(-20px, -50%);
    opacity: 0;
  }
  to {
    transform: translate(0, -50%);
    opacity: 1;
  }
}

@keyframes slideOut {
  from {
    transform: translate(0, -50%);
    opacity: 1;
  }
  to {
    transform: translate(-20px, -50%);
    opacity: 0;
  }
}

.platform-windows {
  pointer-events: none;
}

.image-caption-label {
  margin-left: 5px;
}

.image-caption-editor {
  margin-left: 30px;
}

.image-caption-genre {
  margin-left: 38px;
}

.game-section-illustration img {
  border-radius: 5px;
  width: 26.5vw;
  height: 15vw;
  object-fit: fill;
  object-position: center;
}
