.studios-image-container {
  display: flex;
  justify-content: center;
}

.studio-page-content {
  padding: 0 150px;
}

.studio-page-content img {
  margin-bottom: 75px;
  margin-top: 25px;
}

#direction,
#studios,
#motion-capture {
  scroll-margin-top: 13vh;
}

.studio-image-caption {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  margin-bottom: 75px;
}
